/**
 * Password strength meter
 */
.woocommerce-password-strength {
	text-align: left;
	font-weight: 500;
	padding: ms(-3) 0;
	text-align: right;
	font-size: ms(-1);

	&.strong {
		color: $success;
	}

	&.short {
		color: $error;
	}

	&.bad {
		color: $error;
	}

	&.good {
		color: $info;
	}
}