/**
 * Captions
 */
.wp-caption {
	margin-bottom: ms(1);
	max-width: 100%;

	img[class*="wp-image-"] {
		display: block;
		margin: 0 auto;
	}
	.wp-caption-text {
		text-align: left;
		font-style: italic;
		border-bottom: 2px solid $color_border;
		padding: 0 0 5px 0;
	}
}