#scrollUp{
	border-radius: 50%;
    bottom: 1.25rem;
    color: #fff;
    font-size: 2.25rem;
    height: 2.625rem;
    opacity: 0.5;
    text-align: center;
    width: 2.625rem;
    line-height: 100%;
    right: 0.556em;
    transition: .3s;

    &:hover,&:focus,&:active{
    	opacity: 1;
        transform: translateY(-3px);
    }
}

@include media-breakpoint-down(md) {
    #scrollUp {
        bottom: 2.25rem;
    }
}
