.terms-conditions {
	h2 {
		margin-bottom: 1.6em;
	}

	ol {
		margin: 0 1em 4.5em;

	}

	ol li,
	p {
		color: #555353;
		line-height: 1.813em;
		letter-spacing: -0.01em;
		font-weight: 300;
	}
}

.terms-and-conditions {
	.content-area {
	    margin-bottom: 1.6em;
	}
}
